<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>{{ page.title }} - Lukasz.dk</title>
<link rel="stylesheet" href="/css/reset.css" />
<link rel="stylesheet" href="/css/text.css" />
<link rel="stylesheet" href="/css/960_24_col.css" />
<link rel="stylesheet" href="/css/white.css" />
<link rel="stylesheet" href="/css/hightlight.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="container_24">
  <div class="clear"></div>
  <div class="grid_22 prefix_1 suffix_1">
  <div class="header"><a href="/"><img alt="Lukasz.dk" src="/images/logo.png"></a></div>
  <hr>
</div>
<div class="clear"></div>

{{ content }}

</div>
<!-- end .container_24 -->
</body>
</html>